rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Solo usuarios autorizados pueden leer y escribir
    function isAuthorized() {
      return request.auth != null && request.auth.token.email in [
        'contacto@okasa.cl',
        'ventas@galdi.cl',
        'iaclaudioferrari@gmail.com',
        'ingridgalvezd@gmail.com',
        'jacquelinegalvezd@gmail.com'
      ];
    }

    match /galdi_productos/{docId} {
      allow read, write: if isAuthorized();
    }

    match /galdi_ventas/{docId} {
      allow read, write: if isAuthorized();
    }
  }
}
